.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#708c84;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:lightGreen;
	font-family:Arial;
	font-size:15px;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background-color:#ff0000;
}
.myButton:active {
	position:relative;
	top:1px;
}
